.mainbox {
	padding-block-start: 1000px;
	min-height: 100vh;
}

@media screen and (min-width: 768px) {
	.mainbox {
		margin-top: 1000px;
		min-height: 100vh;
	}
}
.test {
	height: 100vh;
	width: 100vw;
	color: aqua;
	background-color: aquamarine;
}
