.profile-display {
  padding-top: 1rem;
  min-height: 100vh;
}

.user-info {
  align-items: center;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.numeral-data {
  justify-content: space-around;
  color: var(--Rotkehlchen-gray);
  display: flex;
  flex-direction: row;
}

.data {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

.data-label {
  padding-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
}

.button {
  margin-bottom: 0.5rem;
}

.divider {
  border-color: var(--Rotkehlchen-orange-default);
}

@media screen and (min-width: 768px) {

  .user-info {
    position: fixed;
    margin-left: 2rem;
    margin-right: 1.5rem;
  }

  .numeral-data {
    flex-direction: column;
    margin-top: 1rem;
    font-size: 2rem;
  }

  .data-label {
    font-size: 1.5rem;
  }

}
.MuiImageListItem-root {
  height: auto !important;
  width: auto !important;
}

.MuiImageListItem-img {
  height: 5rem !important;
  width: 5rem !important;
  object-fit: cover !important;
}

@media only screen and (min-width: 768px) {
  .MuiImageListItem-img {
    height: 15rem !important;
    width: 15rem !important;
  }
}
