:root {
    --Rotkehlchen-gray: #e7ecf2;
    --Rotkehlchen-brown-light: #a28d7a;
    --Rotkehlchen-brown-middle: #7F6D6D;
    --Rotkehlchen-brown-dark: #4C4141;
    --Rotkehlchen-yellow: #FED640;
    --Rotkehlchen-yellow-hover: #EAC22A;
    --Rotkehlchen-orange-default: #e79a0e;
  }