.feed {
  background: linear-gradient(
      270deg,
      rgba(20, 15, 86, 0.27) 0%,
      rgba(20, 15, 86, 0.58) 24.04%,
      rgba(20, 15, 86, 0.74) 42.79%,
      rgba(17, 13, 71, 0.82) 55.53%,
      rgba(13, 10, 56, 0.9) 68.27%
    ),
    url("../assets/images/BirdsSky.jpg") lightgray 50% / cover no-repeat;
}
.feed-header {
  display: flex;
  width: 100%;
  height: 76px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 261px;
  flex-shrink: 0;
  border-bottom: 3px solid var(--Rotkehlchen-brown1, #a28d7a);
  background: var(--Rotkehlchen-gray, #e7ecf2);
}
