@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Rotkehlchen-gray: #e7ecf2;
  --Rotkehlchen-brown1: #a28d7a;
  --Rotkehlchen-orange-default: #e79a0e;
}

.background-birdsSky {
  background: var(
    --gradient-blue-backround-mobile,
    linear-gradient(
      270deg,
      rgba(20, 15, 86, 0.27) 0%,
      rgba(20, 15, 86, 0.58) 24%,
      rgba(20, 15, 86, 0.74) 43%,
      rgba(17, 13, 71, 0.82) 56%,
      rgba(13, 10, 56, 0.9) 68%
    ),
    url("../public/assets/images/BirdsSky.jpg") lightgray 50% / cover no-repeat
  );
}

.base-header {
  width: 100vw;
  display: flex;
  height: 76px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: var(--Rotkehlchen-gray);
  border-bottom: 3px solid var(--Rotkehlchen-brown1);
}
.header-title {
  color: var(--Rotkehlchen-orange-default);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.header-icon {
  justify-content: center;
  align-items: center;

  background-size: cover;
  background-repeat: no-repeat;
}

/* ------------- MENÜ ------------- */

.menu {
  z-index: 1;
  margin-top: -3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid var(--Rotkehlchen-brown1);
  background: var(--Rotkehlchen-gray);
  padding-block-end: 13px;
  justify-self: end;
}

@media (min-width: 768px) {
  .menu {
    width: 200px;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;

    background: var(--Rotkehlchen-gray);
    padding-block-end: 13px;
    border-bottom: 0px solid var(--Rotkehlchen-brown1);
    /*
    border-bottom: 3px solid var(--Rotkehlchen-brown1);
    border-left: 3px solid var(--Rotkehlchen-brown1); */
  }
}

.menu-item {
  width: 80%;
  text-align: center;
  align-content: center;
  padding-block-start: 13px;
  padding-block-end: 13px;
  padding-inline-start: 20px;
  padding-inline-end: 20px;
}
