.bio-input {
  margin: 0.5rem;
}

/* Wichtiger: Verwende wichtige Basis-Selektoren, die sich nicht ändern */
.bio-input.MuiTextField-root .MuiOutlinedInput-root {
  color: var(--Rotkehlchen-gray) !important;
  background-color: transparent !important; /* Expliziter Hintergrund */
}

/* Für Textfarbe innerhalb des Inputs */
.bio-input.MuiTextField-root .MuiOutlinedInput-input {
  color: var(--Rotkehlchen-gray) !important;
  -webkit-text-fill-color: var(--Rotkehlchen-gray) !important;
}

/* Rahmen */
.bio-input.MuiTextField-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--Rotkehlchen-brown-light) !important;
}

/* Label */
.bio-input.MuiTextField-root .MuiInputLabel-root {
  color: var(--Rotkehlchen-brown-light) !important;
}

/* Fokus-Zustand */
.bio-input.MuiTextField-root .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--Rotkehlchen-yellow-default) !important;
}

/* Deaktivierter Zustand */
.bio-input.MuiTextField-root .Mui-disabled .MuiOutlinedInput-input {
  -webkit-text-fill-color: var(--Rotkehlchen-gray) !important;
}

.bio-input.MuiTextField-root .Mui-disabled .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}

@media only screen and (min-width: 768px) {
  .bio-input {
    width: 100%;
    margin-bottom: 1rem;
  }

  .bio-input.MuiTextField-root .MuiInputLabel-root {
    font-size: 18px !important;
  }

  .bio-input.MuiTextField-root .MuiOutlinedInput-input {
    font-size: 18px !important;
    padding: 10px !important;
  }
}
