.image-list {
  height: fit-content;
  justify-content: center;
  margin-bottom: 1rem;
}

.css-1row2ej-MuiImageListItem-root .MuiImageListItem-img {
  object-fit: cover;
  width: 7rem;
  height: 7rem;
  margin: -0.1rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .box {
    max-width: 75%;
    margin-left: 45ch;
    margin-right: 10ch;
  }

  .image-list {
    position: relative;
    width: fill-available;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .css-1row2ej-MuiImageListItem-root .MuiImageListItem-img {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
  }
}
