.dialog-content {
  display: flex;
  flex-direction: column;
}

.profile-image-large {
  max-width: 30rem;
  max-height: 30rem;
  width: 100%;
  height: 100%;
  object-fit: "cover";
}

.css-10d30g3-MuiPaper-root-MuiDialog-paper {
  background-color: var(--transparent-dark-blue);
  backdrop-filter: blur(15px);
  border-radius: 1rem;
  color: var(--Rotkehlchen-orange-default);
}

.profile-avatar {
  width: 50px;
  height: 50px;
  background-color: var(--Rotkehlchen-yellow-default);
}

.change-avatar-button {
  display: flex;
  justify-content: end;
  align-items: end;
}

.user {
  display: inline-flex;
  width: 100%;
  align-items: center;
  justify-content: start;
  gap: 20px;
  margin-top: 1rem;
  border-radius: 1rem;
}

.edit-icon {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .profile-avatar {
    width: 4.5rem;
    height: 4.5rem;
    background-color: var(--Rotkehlchen-yellow-default);
  }

  .user {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
  }
}
