.base-header {
	z-index: 10;
	width: 100vw;
	display: flex;
	height: var(--header-height);
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	border-radius: 0rem !important;
}
@media only screen and (min-width: 768px) {
	.base-header {
		height: var(--header-height-desktop);
	}
}

.header-title {
	display: flex;
	width: 162px;
	height: 63px;
	flex-direction: column;
	justify-content: center;
	flex-shrink: 0;
	font-weight: bold;
	font-size: x-large;

	color: var(--Rotkehlchen-orange-default);
	text-align: center;
}
.header-icon-feather {
	height: 35px;
}
.header-icon-menu {
	cursor: pointer;
}

.header-icon {
	margin: 40px;
	display: flex;
	width: 30px;
	height: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;

	background-size: cover;
	background-repeat: no-repeat;
}

.drawer-list {
	background-color: var(--dark-blue);
	min-height: 100vh;
	min-width: 13rem;
}

.drawer-list-item {
	color: white;
}

.drawer-list-item-button {
	height: 10vh;
}
.drawer-list-item-button:hover {
	background-color: var(--dark-blue-hover);
}
