.image-list {
  height: fit-content;
  width: fit-content;
  justify-content: center;
}

.box {
  flex-grow: 1;
  height: fit-content;
  margin-left: 1rem;
  margin-right: 1rem;
}
.css-1row2ej-MuiImageListItem-root .MuiImageListItem-img {
  object-fit: cover;
  width: fill-available;
  height: fill-available;
}

@media only screen and (min-width: 768px) {

  .box {
    max-width: 75%;
    margin-left: 45ch;
    margin-right: 10ch;
  }

  .image-list {
    position: relative;
    width: fill-available;
    margin-bottom: 1rem;
  }

  .css-1row2ej-MuiImageListItem-root .MuiImageListItem-img {
    object-fit: cover;
    width: 15rem;
    height: 15rem;
  }
}
