.profile-username {
  color: var(--Rotkehlchen-orange-default);
  width: 15rem;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: start;
}
.profile-popover {
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .profile-username {
    width: 10rem;
  }
  .profile-popover {
    padding: 2rem;
  }
  
}
