.feedContainer {
  min-height: 100vh;
  /* Subtract he */
  

}

.feedContent {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem 0;
}
.loading {
  width: 100%;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  color: #333;
}


/* Desktop responsive behavior */
@media (min-width: 768px) {
  .feedContainer {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .welcome-for-logged-out {
    position: sticky;
    top: 5rem; 
    left: 5rem;
    right: 1rem;
    align-self: center;
    align-self: flex-start;
  }
  .feedContent {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 0;
  }
}

